{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %} {{ table }} {% endblock %}</title>
</head>
<style>
</style>
<body type="database">
  <header>
    
    <div id="back-button-container">
      <a href="javascript:history.back()" class="back-button">Back</a>
      <div class="title-wrapper">
      <h1 class="h1">{{ table }}</h1>
        <form class="menu" method='POST' action="/table_menu" name="action">
          <li>
            <h1 class="h1">
            <span class="material-symbols-rounded">
              expand_circle_down
              </span></h1>
            <ul class="dropdown-menu">
              <button class='filter' name="value" value="{{'filter' }},{{ table }}">Filter<span class="material-symbols-rounded">
                filter_alt
                </span></button>
              <button class='delete' name="value" value="{{'drop'}},{{ table }}, {{ db }}">Drop Table<span class="material-symbols-rounded">
                delete_forever
                </span></button>

            </ul>
          </li>
        </form>

</div>
    </div>
  </header>

  <main>
    <div id="table-container">
    <table id="table">          {% for name in field_names %}
      <th>{{ name }}</th>
      {% endfor %}
      <tbody>

        
    {% for result in myresult %}

      <tr>
        {% for val in result %}
        <td>{{ val }}</td>
        {% endfor %}
      </tr>

    {% endfor %}
  </tbody>
  </table>

  </main>

</body>
</html>
{% endblock %}
