{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
</head>
<body>
  <h1>Login</h1>
  <form method="POST" action="/login">

    <input type="text" placeholder="User" id="username" name="username" required><br><br>

    <input type="password" placeholder="Password" id="password" name="password" required><br><br>

    <input type="text" placeholder="Host"id="host" name="host" required><br><br>

    <input type="number"  placeholder="Port"id="port" name="port" required><br><br>
    <input type="submit" value="Login">
  </form>
</body>
</html>



{% endblock %}